.pagination {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &>li {
    display: inline;

    &>:first-child a,
    &>:first-child span {
      margin-left: 0;
    }

    &>a, &>span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: $second-color;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #c6d3eb;

      &:hover {
        background: #f7f7f7;
        color: #afbac7;
      }
    }
    
    &>.current {
      background: #f7f7f7;
      color: #afbac7;
    }
  }


}
//END pagination