.calendar__today

  .calendar__date-table
    .date.date--table
      span.date__month.date__month--table май&nbsp;
      span.date__year.date__year--table 2017&nbsp;
      span.date__prop.date__prop--table г.
  //END.calendar__date

  .calendar__pagination
    .pagination-date
      button.btn.btn--pagination
        i.icon-chevron-left.icon-chevron-left--pagination
      span.pagination-date__descr Сегодня
      button.btn.btn--pagination
        i.icon-chevron-right.icon-chevron-right--pagination
    //END.pagination-date

  //END.calendar__pagination

//END.calendar__today
