.calendar-section.calendar-section--nav-footer

  .calendar__nav-footer
    ul.nav-second
      li.nav-second__item
        a.nav-second__link(href="") Сегодня
      li.nav-second__item
        a.nav-second__link(href="") Календари
      li.nav-second__item
        a.nav-second__link(href="") Входящие
    //END nav-second

  //END.calendar__nav-footer
