.calendar__week
  table.table-week
    thead.table-week__thead
    tfoot.table-week__tfoot
      tr.table-week__tr
        td.table-week__td-tfoot(colspan="7")
          |понедельник 22 мая 2017 г.
    tr.table-week__tr
      th.table-week__th
        | П
      th.table-week__th
        | В
      th.table-week__th
        | С
      th.table-week__th
        | Ч
      th.table-week__th
        | П
      th.table-week__th
        | С
      th.table-week__th
        | В
    //END thead.table-week__thead

    tbody.table-week__tbody
      tr.table-week__tr
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number.active 22
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 23
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 24
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 25
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 26
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 27
        td.table-week__td
          .table-week__descr-day
            .table-week__date-number 28

//END.calendar__week