block header
  .page__header

    .head

      //.head__logo
      //  a.logo(href="index.html", role="banner")
      //    img(src="images/logo.png", alt="логотип")
      //    img(src="images/logo-m.png", alt="логотип")
      //END head__logo
      //.head__nav
      //  include _components/page-nav
      // END head__nav
      //.head__search
      //  include _components/search
      //
      //.head__profile
      //  include _components/profile-login
      // END head__search
      //include _components/gamburger
    //END .head
  // END header