//slider
.page__line
  .slider.js-slider
    .slide
      .slide__inner
        .slide__header.
          Корма для с/х
        .slide__descr.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          bibendum eleifend lorem ac iaculis. Vivamus ac nisl aliquam massa
          condimentum lobortis ut in metus. Etiam pretium feugiat augue,
          eget luctus nisi tincidunt nec us ac nisl.
        .slide__btn
          a.btn.btn--slider(href="#", role="button") В каталог кормов для с/х
      .slide__image
        img(src="images/slider_sample.jpg", alt="Баннер")

    .slide
      .slide__inner
        .slide__header.
          Корма для с/х
        .slide__descr.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          bibendum eleifend lorem ac iaculis. Vivamus ac nisl aliquam massa
          condimentum lobortis ut in metus. Etiam pretium feugiat augue,
          eget luctus nisi tincidunt nec us ac nisl.
        .slide__btn
          a.btn.btn--slider(href="#", role="button") В каталог кормов для с/х
      .slide__image
        img(src="images/slider_sample.jpg", alt="Баннер")

    .slide
      .slide__inner
        .slide__header.
          Корма для с/х
        .slide__descr.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          bibendum eleifend lorem ac iaculis. Vivamus ac nisl aliquam massa
          condimentum lobortis ut in metus. Etiam pretium feugiat augue,
          eget luctus nisi tincidunt nec us ac nisl.
        .slide__btn
          a.btn.btn--slider(href="#", role="button") В каталог кормов для с/х
      .slide__image
        img(src="images/slider_sample.jpg", alt="Баннер")
// END slider