.popup.popup-requisites.mfp-hide#popup-requisites
  .popup-requisites__inner-nav
    ul.popup-nav.js-toggle-tabs
      li
        a.link-popup-nav.active(href="#company-requisites") Реквизиты банка
      li
        a.link-popup-nav(href="#company-info") Дополнительная информация
    //END popup-nav
  //END .popup-requisites__inner-nav

  .popap-requisites__list
    .list-requisites.active#company-requisites

      .list-requisites__row
        .list-requisites__prop
          |Лицензия / ссылка на сайт ЦБ
        .list-requisites__value
          |2673  | 
          a.link-blue(href="") информация на сайте ЦБ РФ

      .list-requisites__row
        .list-requisites__prop
          |Юридический адрес
        .list-requisites__value
          |123060, г. Москва, 1-й Волоколамский проезд, дом 10, стр.1

      .list-requisites__row
        .list-requisites__prop
          |Головной офис
        .list-requisites__value
          |123060, Москва, 1-й Волоколамский проезд, 10 с1

      .list-requisites__row
        .list-requisites__prop
          |Горячая линия/контакты
        .list-requisites__value
          |8 (800) 555-77-78  |  info@tcsbank.ru

      .list-requisites__row
        .list-requisites__prop
          |Официальный сайт
        .list-requisites__value
          a.link-blue(href="http://www.tinkoff.ru") http://www.tinkoff.ru

      .list-requisites__row
        .list-requisites__prop
          |ОГРН
        .list-requisites__value
          |1027739642281

      .list-requisites__row
        .list-requisites__prop
          |ИНН
        .list-requisites__value
          |7710140679

      .list-requisites__row
        .list-requisites__prop
          |КПП
        .list-requisites__value
          |775001001

      .list-requisites__row
        .list-requisites__prop
          |ОКПО
        .list-requisites__value
          |29290881

      .list-requisites__row
        .list-requisites__prop
          |БИК
        .list-requisites__value
          |044525974

      .list-requisites__row
        .list-requisites__prop
          |SWIFT
        .list-requisites__value
          |TICSRUMM

      .list-requisites__row
        .list-requisites__prop
          |IBAN
        .list-requisites__value
          | номера IBAN клиентам российских банков не присваиваются,
          | для безналичных переводов используются идентификаторы
          | SWIFT
    //END.list-requisites
    .list-requisites#company-info
      |Продажа монет в Сбербанке: стоимость и
      |условия Продажа монет в Сбербанке. Продажа монет в Сбербанке.
    //END .list-requisites
  //END .popap-requisites__list