.all-topics
  .all-topics__groupname Все темы публикаций
  ul.all-topics__body
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Займ по паспорту
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Онлайн займ карту
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Быстро взять деньги
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Проверить КИ
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Кредит за 5 минут онлайн
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") 100000 рублей
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Деньги в долг на карту
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Кредит без справок и поручителей
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Кредит без отказа
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Кредит 18 летним
    li.all-topics__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") Кредит безработным

  //END.all-topics__body

//END all-topics