.archive
  .archive__groupname Архив
  ul.archive__body
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") сентябрь 2015
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") октябрь 2015
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") ноябрь 2015
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") декабрь 2015
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") январь 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") февраль 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") март 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") апрель 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") май 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") июнь 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") июль 2016
    li.archive__item
      a.btn.btn--p14px-p5px.btn--gray-blue(href="") сентебрь 2016
  //END.archive__body
//END archive