.company-products
  .company-products__groupname
    |Продукты Тинькофф Банк

  .company-products__row
    a.company-products__item(href="")
      .company-products__descr-item
        h2 Ипотека
        p 72 предложения
      .icon-hipothec
        svg(role="img"): use(xlink:href="#hipothec")
    //END prev-services__item

    a.company-products__item(href="")
      .company-products__descr-item
        h2 Кредитные карты
      .icon-loan-cards
        svg(role="img"): use(xlink:href="#loan-cards")
    //END prev-services__item

    a.company-products__item(href="")
      .company-products__descr-item
        h2 Вклады
        p 972 предложения
      .icon-contribution
        svg(role="img"): use(xlink:href="#contributions")
    //END prev-services__item
  //END .company-products__row

  .company-products__row
    a.company-products__item(href="")
      .company-products__descr-item
        h2 Страхование
        p 72 предложения
      .icon-insurance
        svg(role="img"): use(xlink:href="#insurance2")
    //END prev-services__item

    a.company-products__item(href="")
      .company-products__descr-item
        h2 Займы
        p 172 предложения
      .icon-loans
        svg(role="img"): use(xlink:href="#loans")
    //END prev-services__item

    a.company-products__item(href="")
      .company-products__descr-item
        h2 Автокредиты
        p 54 предложения
      .icon-auto-loans
        svg(role="img"): use(xlink:href="#auto-loans")
    //END prev-services__item
  //END .company-products__row

//END.company-products