.credit-list
  .credit-list__header
    .credit-list__th-name Название кредита
    .credit-list__th-rate Ставка
    .credit-list__th-amount Сумма кредита
  //END.credit-list__header
  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo
        img(src="images/vtb-logo.png")
      .credit-list__text Потребительский кредит
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставка
      |от 14,9% в год
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма кредита
      |до 3 000 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        |Оформить заявку&nbsp;
        span.text-tablet-hide на кредит
  //END.credit-list__tr-item

  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo
        img(src="images/raif-logo.png")
      .credit-list__text Потребительский кредит
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставка
      | от 19% в год
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма кредита
      | до 750 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        | Оформить заявку&nbsp;
        span.text-tablet-hide на кредит
  //END.credit-list__tr-item

  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo
        img(src="images/renesans-logo.png")
      .credit-list__text Потребительский кредит
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставкаы
      | от 15,9% в год
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма кредита
      | до 500 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        | Оформить заявку&nbsp;
        span.text-tablet-hide на кредит
  //END.credit-list__tr-item

  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo
        img(src="images/vtb-logo.png")
      .credit-list__text Кредит на рефинансирование
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставка
      | от 13,9% в год
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма кредита
      | до 3 000 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        | Оформить заявку&nbsp;
        span.text-tablet-hide на кредит
  //END.credit-list__tr-item

  //END.credit-list__body
//END.credit-list