// page-footer
.page__footer
  .footer
    .footer__inner-mobile
      .footer__about-company
        .footer__groupname.js-drpdwn-footer-list О компании
          span.icon-angle-dwn-footer
            .icon-angle-dwn-footer__inner-svg
              svg(role="img"): use(xlink:href="#angle-down")
        ul.footer__list
          li
            a.link.link--footer-list(href="") О проекте
          li
            a.link.link--footer-list(href="") Контакты
          li
            a.link.link--footer-list(href="") Реклама
          li
            a.link.link--footer-list(href="") Вакансии
          li
            a.link.link--footer-list(href="") Карта сайта
          li
            a.link.link--footer-list(href="") Политика конфиденциальности
          li
            a.link.link--footer-list(href="") Свяжитесь с нами
      //END.footer__about-company
      .footer__banks
        .footer__groupname.js-drpdwn-footer-list Банки
          span.icon-angle-dwn-footer
            .icon-angle-dwn-footer__inner-svg
              svg(role="img"): use(xlink:href="#angle-down")
        ul.footer__list
          li
            a.link.link--footer-list(href="") Кредитные карты
          li
            a.link.link--footer-list(href="") Дебетовые карты
          li
            a.link.link--footer-list(href="") Кредиты
          li
            a.link.link--footer-list(href="") Вклады
          li
            a.link.link--footer-list(href="") Микрозаймы
          li
            a.link.link--footer-list(href="") Ипотека
          li
            a.link.link--footer-list(href="") Автокредиты
          li
            a.link.link--footer-list(href="") Курсы валют
          li
            a.link.link--footer-list(href="") Перевод с карты на карту
          li
            a.link.link--footer-list(href="") Рейтинги банков
        //END.footer__list
      //END .footer__banks
      .footer__inner-section
        .footer__hypothec
          .footer__groupname.js-drpdwn-footer-list Ипотека
            span.icon-angle-dwn-footer
              .icon-angle-dwn-footer__inner-svg
                svg(role="img"): use(xlink:href="#angle-down")
          ul.footer__list
            li
              a.link.link--footer-list(href="") Ипотека для молодой семьи
            li
              a.link.link--footer-list(href="") Государственная ипотека
            li
              a.link.link--footer-list(href="") Самая выгодная ипотека
            li
              a.link.link--footer-list(href="") Ипотека без первоначального взноса
          //END.footer__list
        //END .footer__hypothec
        .footer__contacts
          .footer__groupname Контакты
          ul.footer__list.footer__list--visible-tablet
            li
              a.link.link--footer-list.link--margin-b3px(href="",mailto="adv@mrfin.ru") adv@mrfin.ru
            li
              a.link.link--footer-list(href="" ) +7 964 660-70-70
          //END .footer__list
          span.footer__text-span с 10:00 до 19:00 по МСК времени
        //END.footer__contacts
        .footer__social.footer__social--visible-tablet
          .footer__groupname Мы в социальных сетях:
          .networks
            .networks__link
              a.icon.icon-vk(href="")
                svg(role="img"): use(xlink:href="#vk")
            .networks__link
              a.icon.icon-twitter(href="")
                svg(role="img"): use(xlink:href="#twitter")
            .networks__link
              a.icon.icon-facebook(href="")
                svg(role="img"): use(xlink:href="#facebook")
            .networks__link
              a.icon.icon-google(href="")
                svg(role="img"): use(xlink:href="#google")
        //END footer__social--visible-tablet
      //END .footer__inner-section
    //END.footer__inner-mobile
    .footer__inner-section.footer__inner-section--last
      .footer__social
        .footer__groupname Мы в социальных сетях:
        .networks
          .networks__link
            a.icon.icon-vk(href="")
              svg(role="img"): use(xlink:href="#vk")
          .networks__link
            a.icon.icon-twitter(href="")
              svg(role="img"): use(xlink:href="#twitter")
          .networks__link
            a.icon.icon-facebook(href="")
              svg(role="img"): use(xlink:href="#facebook")
          .networks__link
            a.icon.icon-google(href="")
              svg(role="img"): use(xlink:href="#google")
      //END .footer__social
      .footer__contacts.footer__contacts--visible-tablet
        .footer__groupname Контакты
        ul.footer__list.footer__list--visible-tablet
          li
            a.link.link--footer-list.link--margin-b3px(href="",mailto="adv@mrfin.ru") adv@mrfin.ru
          li
            a.link.link--footer-list(href="" ) +7 964 660-70-70
        //END .footer__list
        span.footer__text-span с 10:00 до 19:00 по МСК времени
      //END.footer__contacts
      .footer__copyright
        .footer__text
          |© "mrfin.ru" 2015 - 2017.
          br
          a.link-footer-text(href="")
            |Использование сайта,в том числе
            |подача объявлений, означает
            |согласие с&ensp;
          |пользовательским соглашением.
      //END.footer__copiright

    //END.footer__inner-section
  //END.footer
//END.page__footer
