.interesting-articles
  .interesting-articles__groupname Интересные статьи:

  .interesting-articles__body

    a.interesting-articles__item(href="")
      .interesting-articles__img
        .interesting-articles__inner-img(style="background-image:url(images/interesting-article1.jpg)")
          img(src="images/interesting-article1.jpg")
      .interesting-articles__title Как поменять пин код на карте Тинькофф?
    //END interesting-articles__item

    a.interesting-articles__item(href="")
      .interesting-articles__img
        .interesting-articles__inner-img(style="background-image:url(images/interesting-article2.jpg)")
          img(src="images/interesting-article2.jpg")
      .interesting-articles__title Кредитка Тинькофф: условия, тарифы, использование
    //END interesting-articles__item

    a.interesting-articles__item(href="")
      .interesting-articles__img
        .interesting-articles__inner-img(style="background-image:url(images/interesting-article3.jpg)")
          img(src="images/interesting-article3.jpg")
      .interesting-articles__title Как обналичить карту Тинькофф без процентов?
    //END interesting-articles__item

    a.interesting-articles__item(href="").visible-pc-block
      .interesting-articles__img
        .interesting-articles__inner-img(style="background-image:url(images/interesting-article4.jpg)")
          img(src="images/interesting-article4.jpg")
      .interesting-articles__title Тинькофф: погашение кредита без комиссии
    //END interesting-articles__item


    //END.interesting-articles__items

  //END.interesting-articles

//END.interesting-articles