.last-reviews
  .last-reviews__groupname Последние отзывы

  .last-reviews__body
    .last-reviews__inner-nav
      ul.lastreviews-nav.js-toggle-tabs
        li
          a.link-lastreviews-nav.active(href="#reviews-bank") Отзывы о банках
        li
          a.link-lastreviews-nav(href="#reviews-mfo") Отзывы о МФО
        li
          a.link-lastreviews-nav(href="#reviews-insurance") Отзывы о страховых компаниях

    //END .lastreviews-nav

    .last-reviews__list-category

      .last-reviews__category-item.active#reviews-bank
        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Отзывы о страховых компаниях
            p.
              Услугами банка ВТБ 24 пользуюсь с 2008 года-
              банковские карты, ячейка, автокредиты.
              Всегда уважительное отношение сотрудников
              банка, быстрое обслуживание, грамотность
              специалистов.  Хочу выразить особую
              благодарность и отметить высокий профессиональный
              уровень сотрудников уровень...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 23.03.2017
              span.hidden-xs &nbsp;16:46
            a.last-reviews__about-company ВТБ 24
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments 0
          //END .news-navigator__service
        //END .last-review__item

        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Безобразие!
            p.
              На каком основании банк делает смс-рассылки
              моим друзьям и знакомым с просьбой оплатить
              задолженность по кредиту наличными, которую
              я уже обещала погасить? Предистория: попала
              в больницу - не было возможности и средств
              чтобы погасить очередной платеж, все
              уходило на лечение...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 23.03.2017
              span.hidden-xs &nbsp;10:50
            a.last-reviews__about-company Альфа-Банк
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments +1
          //END .news-navigator__service

        //END .last-review__item

        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Отчет по карте за период
            p.
              На каком основании банк делает смс-рассылки
              моим друзьям и знакомым с просьбой оплатить
              задолженность по кредиту наличными, которую
              я уже обещала погасить? Предистория: попала
              в больницу - не было возможности и средств
              чтобы погасить очередной платеж, все
              уходило на лечение...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 22.03.2017
              span.hidden-xs &nbsp;11:50
            a.last-reviews__about-company Сбербанк России
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments +3
          //END .news-navigator__service

        //END .last-review__item

      //END.last-reviews__category-item

      .last-reviews__category-item#reviews-mfo
        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Безобразие!
            p.
              На каком основании банк делает смс-рассылки
              моим друзьям и знакомым с просьбой оплатить
              задолженность по кредиту наличными, которую
              я уже обещала погасить? Предистория: попала
              в больницу - не было возможности и средств
              чтобы погасить очередной платеж, все
              уходило на лечение...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 23.03.2017
              span.hidden-xs &nbsp;10:50
            a.last-reviews__about-company Альфа-Банк
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments +1
          //END .news-navigator__service

        //END .last-review__item

        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Отчет по карте за период
            p.
              На каком основании банк делает смс-рассылки
              моим друзьям и знакомым с просьбой оплатить
              задолженность по кредиту наличными, которую
              я уже обещала погасить? Предистория: попала
              в больницу - не было возможности и средств
              чтобы погасить очередной платеж, все
              уходило на лечение...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 22.03.2017
              span.hidden-xs &nbsp;11:50
            a.last-reviews__about-company Сбербанк России
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments +3
          //END .news-navigator__service

        //END .last-review__item

      //END.last-reviews__category-item

      .last-reviews__category-item#reviews-insurance
        .last-reviews__item
          .last-reviews__descr
            a.link.link--last-reviews(href="")
              h2 Отчет по карте за период
            p.
              На каком основании банк делает смс-рассылки
              моим друзьям и знакомым с просьбой оплатить
              задолженность по кредиту наличными, которую
              я уже обещала погасить? Предистория: попала
              в больницу - не было возможности и средств
              чтобы погасить очередной платеж, все
              уходило на лечение...
            //END .last-reviews__descr
          .last-reviews__service
            .last-reviews__date
              | 22.03.2017
              span.hidden-xs &nbsp;11:50
            a.last-reviews__about-company Сбербанк России
            a.last-reviews__comments-link(href="")
              .icon-comments-link
                svg(role="img"): use(xlink:href="#comments-link")
              .last-reviews__qty-comments +3
          //END .news-navigator__service

        //END .last-review__item

      //END.last-reviews__category-item

      .last-reviews__inner-btn-all
        a.btn.btn--middle-165px-40px.btn--white-lblue(href="") Все отзывы
    //END.last-reviews__list-category



  //END .last-reviews__body
//END .last-reviews