.page__line
  .late-comments
    .late-comments__groupname Последние комментарии
    .late-comments__inner

      .late-comments__col

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            |А за пару дней до проишествия вы не
            |ездили в метро? Безконтактыне платежи
            |могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item
      //END .late-comments__col

      .late-comments__col

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item
      //END .late-comments__col

      .late-comments__col

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
              .commentator__inner
                .commentator__answer Ответ банка
        //END .late-comments__item

        .late-comments__item
          .late-comments__title Мелочь, а неприятно
          .late-comments__text
            | А за пару дней до проишествия вы не
            | ездили в метро? Безконтактыне платежи
            | могут приходит с задержкой
          .late-comments__commentator
            .commentator
              .commentator__img
                img(src="images/commentator-cnt1.jpg")
              .commentator__inner
                .commentator__name VladTE
                .commentator__date 15 минут назад
        //END .late-comments__item
      //END .late-comments__col
      .late-comments__inner-btn-all
        a.btn.btn--middle-165px-40px.btn--white-lblue(href="") Все acкомментарии

    //END .late-comments__inner
  //END .late-comments
//END.page__line
