.page__line

  .list-links
    .list-links__inner
      .list-links__item-exchange-rates
        .list-links__groupname.js-drpdwn-list-links Курсы валют ЦБ РФ
          span.icon-angle-dwn-links
            .icon-angle-dwn-links__inner-svg
              svg(role="img"): use(xlink:href="#angle-down")
        ul.list-links__items.list-links__items--hidden-desktop
          li.list-link__item
            a.link.link--list(href="") Курс Доллара США
          li.list-link__item
            a.link.link--list(href="") Курс Евро
          li.list-link__item
            a.link.link--list(href="") Курс Украинских гривен
          li.list-link__item
            a.link.link--list(href="") Курс Фунта стерлингов
          li.list-link__item
            a.link.link--list(href="") Курс Китайского юаня
          li.list-link__item
            a.link.link--list(href="") Курс Швейцарского франка
          li.list-link__item
            a.link.link--list(href="") Курс Шведской кроны
          li.list-link__item
            a.link.link--list(href="") Курс Японской иены
      //END.list-links__item-exchange-rates

      .list-links__item-other-banks
        .list-links__groupname.js-drpdwn-list-links Другие популярные банки
          span.icon-angle-dwn-links
            .icon-angle-dwn-links__inner-svg
              svg(role="img"): use(xlink:href="#angle-down")
        ul.list-links__items.list-links__items--hidden-desktop
          li.list-link__item
            a.link.link--list(href="") Банк Сбербанк России
          li.list-link__item
            a.link.link--list(href="") Банк ВТБ 24
          li.list-link__item
            a.link.link--list(href="") Банк Тинькофф Банк
          li.list-link__item
            a.link.link--list(href="") Банк Альфа-Банк
          li.list-link__item
            a.link.link--list(href="") Банк Ренессанс Кредит
          li.list-link__item
            a.link.link--list(href="") Банк Почта Банк
          li.list-link__item
            a.link.link--list(href="") Банк Сетелем Банк
          li.list-link__item
            a.link.link--list(href="") Банк Московский Кредитный Банк
          li.list-link__item
            a.link.link--list(href="") Банк Русфинанс Банк
          li.list-link__item
            a.link.link--list(href="") Банк Хоум Кредит энд Финанс Банк
          li.list-link__item
            a.link.link--list(href="") Банк Райффайзенбанк
          li.list-link__item
            a.link.link--list(href="") Банк Ситибанк
          li.list-link__item
            a.link.link--list(href="") Банк Киви Банк
          li.list-link__item
            a.link.link--list(href="") Банк Яндекс.Деньги

      //END.list-links__items
    //END .list-links__item-other-banks

    .list-links__item-reviews-banks
      .list-links__groupname.js-drpdwn-list-links Отзывы о банках
        span.icon-angle-dwn-links
          .icon-angle-dwn-links__inner-svg
            svg(role="img"): use(xlink:href="#angle-down")
      ul.list-links__items.list-links__items--hidden-desktop
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Сбербанк России
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке ВТБ 24
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Тинькофф Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Альфа-Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Ренессанс Кредит
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Почта Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Сетелем Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Московский Кредитный Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Русфинанс Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Хоум Кредит энд Финанс Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Райффайзенбанк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Ситибанк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Киви Банк
        li.list-link__item
          a.link.link--list(href="") Отзывы о банке Яндекс.Деньги

      //END list-links__items
    //END .list-links__item-reviews-banks

  //END.list-links
//END.page__line
