.credit-list
  .credit-list__header
    .credit-list__th-name Название кредита
    .credit-list__th-rate Ставка
    .credit-list__th-amount Сумма кредита
  //END.credit-list__header
  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo.credit-list__logo--mb0
        img(src="images/kredito-logo.png")
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставка
      |от 1,9% в день
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма займа
      |до 30 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        |Оформить заявку&nbsp;
        span.text-tablet-hide на займ
  //END.credit-list__tr-item

  .credit-list__tr-item
    .credit-list__td-name
      .credit-list__logo.credit-list__logo--mb0
        img(src="images/kapusta-logo.png")
    .credit-list__td-rate
      span.visible-mobile-block.credit-list__caption Ставка
      | от 2,2% в день
    .credit-list__td-amount
      span.visible-mobile-block.credit-list__caption Сумма займа
      | до 30 000 руб.
    .credit-list__td-make-order
      button.btn.btn--middle.btn--green.btn--p12px-p26px
        | Оформить заявку&nbsp;
        span.text-tablet-hide на займ
  //END.credit-list__tr-item

  //END.credit-list__body
//END.credit-list