.networks
  a.networks__link.icon-vk
    svg(role="img"): use(xlink:href="#vk")
  a.networks__link.icon-twitter
    svg(role="img"): use(xlink:href="#twitter")
  a.networks__link.icon-facebook
    svg(role="img"): use(xlink:href="#facebook")
  a.networks__link.icon-google
    svg(role="img"): use(xlink:href="#google")

//END .networks