.page-nav-inner
  ul.page-nav.js-page-nav
    li.page-nav__item
      a.link-head-nav.link-head-nav--active(href="loans.html") Займы

    li.page-nav__item
      a.link-head-nav(href="credit.html") Кредит

    //-li.page-nav__item
      a.link-head-nav.js-open-subnav(href="credit.html") Кредит
        span.icon-angle-updwn
          .icon-angle-updwn__inner-svg
            svg(role="img"): use(xlink:href="#angle-down")
            //svg(role="img"): use(xlink:href="#angle-up")

      ul.page-nav__subnav.js-page-subnav
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Сбербанка России
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор ВТБ 24
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Хоум Кредит энд Финанс Банка
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Альфа-Банка
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Ренессанс Кредита
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Тинькофф Банка


    li.page-nav__item
      a.link-head-nav(href="") Ипотека
    li.page-nav__item
      a.link-head-nav(href="") Вклады
    li.page-nav__item
      a.link-head-nav.js-open-subnav(href="") Карты
        span.icon-angle-updwn
          .icon-angle-updwn__inner-svg
            svg(role="img"): use(xlink:href="#angle-down")
            //svg(role="img"): use(xlink:href="#angle-up")
      //a.link-head-nav.js-open-subnav(href="") Карты
      //  span.icon.icon-angle-updwn

      ul.page-nav__subnav.js-page-subnav.page-nav__subnav--right0
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Сбербанка России
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор ВТБ 24
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Хоум Кредит энд Финанс Банка
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Альфа-Банка
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Ренессанс Кредита
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор Тинькофф Банка


    //li.page-nav__item
    //  a.link-head-nav(href="") Страхование

    li.page-nav__item
      a.link-head-nav(href="forum2.html") Общение

    li.page-nav__item
      a.link-head-nav.js-open-subnav(href="") Еще
        span.icon-angle-updwn
          .icon-angle-updwn__inner-svg
            svg(role="img"): use(xlink:href="#angle-down")
      ul.page-nav__subnav.page-nav__subnav--right0.js-page-subnav
        li.page-nav_sub-item
          a.link-head-sub-nav(href="news.html")
            | Новости
        li.page-nav_sub-item
          a.link-head-sub-nav(href="")
            | Кредитный калькулятор ВТБ 24
        li.page-nav_sub-item
          a.link-head-sub-nav(href="kurs.html")
            | Курс
        li.page-nav_sub-item
          a.link-head-sub-nav(href="add-review.html")
            | Написать отзыв
        li.page-nav_sub-item
          a.link-head-sub-nav(href="article.html")
            | Новость
        li.page-nav_sub-item
          a.link-head-sub-nav(href="about-bank.html")
            | Банк Тиньков

//END page-nav
//include gamburger