ul.pagination
    //li
    //    a(href='#', aria-label='Назад')
    //        span(aria-hidden='true') «
    li
        a(href='#') 1
    li
        a(href='#') 2
    li
        span.current 3
    li
        a(href='#') 4
    li
        a(href='#') 5
    li
        a(href='#') 6
    //li
    //    a(href='#', aria-label='Вперед')
    //        span »
    li
        a(href='#', aria-label='Новые')
            span(aria-hidden='true') Новые

//END .pagination