.page__line
  .prev-services
    .prev-services__inner

      .prev-services__moblie-item
        .prev-services__mobile-descr
          .prev-services__mobile-img
          h2 Ипотека
          p.
            В данном разделе можно найти
            лучшее предложения на ипотеку
        .prev-services__inner-btn
          a.btn.btn--middle.btn--green(href="")  Сравнить
      //END prev-services__hypothec

      .prev-services__hypothec
        .prev-services__descr.hipothec-descr
          h2 Ипотека
          p.
            В данном разделе можно найти предложения банков,
            сравнить условия, изучить отзывы и оформить
            онлайн-заявку на лучшую ипотеку
        .prev-services__inner-btn
          a.btn.btn--middle.btn--green(href="")  Сравнить
      //END prev-services__hypothec

      .prev-services__credit-cards
        .prev-services__descr.credit-cards-descr
          h2 Кредитные карты
          p.
            В данном разделе можно найти предложения банков,
            сравнить условия, изучить отзывы и оформить
            онлайн-заявку на лучшую кредитную карту
          p
            a(href="")  Сравнить
      //END prev-services__credit-cards
    //END prev-services__inner

    .prev-services__list
      a.prev-services__item.visible-sm-item(href="")
        .prev-services__descr-item
          h2 Кредитные карты
        .icon-loan-cards
          svg(role="img"): use(xlink:href="#loan-cards")
      //END prev-services__item

      a.prev-services__item(href="")
        .prev-services__descr-item
          h2 Вклады
          p 972 предложения
        .icon-contribution
          svg(role="img"): use(xlink:href="#contributions")
      //END prev-services__item

      a.prev-services__item(href="")
        .prev-services__descr-item
          h2 Страхование
          p 72 предложения
        .icon-insurance
          svg(role="img"): use(xlink:href="#insurance2")
      //END prev-services__item

      a.prev-services__item(href="")
        .prev-services__descr-item
          h2 Займы
          p 172 предложения
        .icon-loans
          svg(role="img"): use(xlink:href="#loans")
      //END prev-services__item

      a.prev-services__item(href="")
        .prev-services__descr-item
          h2 Автокредиты
          p 54 предложения
        .icon-auto-loans
          svg(role="img"): use(xlink:href="#auto-loans")
      //END prev-services__item

    //END prev-services__inner
  //END prev-services
//ENDpage__line



