table.rate-table
  colgroup.rate-table__colgroup
    col.rate-table__col-currency
    col.rate-table__col-code.visible-pc-block
    col.rate-table__col-cost
    col.rate-table__col-changes
  thead.rate-table__thead

    tr.rate-table__tr
      th.rate-table__th Валюта
      th.rate-table__th.visible-pc-block Код
      th.rate-table__th Стоимость
      th.rate-table__th
        span.visible-pc-block Изменения
        span.visible-mobile-block Изм.
  tbody.rate-table__tbody
    tr.rate-table__tr
      td.rate-table__td
        |Китайский юань
      td.rate-table__td.visible-pc-block
        |CNY
      td.rate-table__td
        |85.9499 ₽
      td.rate-table__td.color-red
        |-0.559

    tr.rate-table__tr
      td.rate-table__td
        |Японская иена
      td.rate-table__td.visible-pc-block
        |JPY
      td.rate-table__td
        |52.526 ₽
      td.rate-table__td.color-green
        |+0.4993

    tr.rate-table__tr
      td.rate-table__td
        |Доллар США
      td.rate-table__td.visible-pc-block
        |USD
      td.rate-table__td
        |59.0235 ₽
      td.rate-table__td.color-red
        |-0.4894

    tr.rate-table__tr
      td.rate-table__td
        |Евро
      td.rate-table__td.visible-pc-block
        |EUR
      td.rate-table__td
        |63.0253 ₽
      td.rate-table__td.color-green
        |+0.4214

    tr.rate-table__tr
      td.rate-table__td
        |Фунт стерлингов
      td.rate-table__td.visible-pc-block
        |GBP
      td.rate-table__td
        |74.1099 ₽
      td.rate-table__td.color-red
        |-0.2872

    tr.rate-table__tr
      td.rate-table__td
        |Швейцарский франк
      td.rate-table__td.visible-pc-block
        |SEK
      td.rate-table__td
        |59.2784 ₽
      td.rate-table__td.color-red
        |-0.2821

    tr.rate-table__tr
      td.rate-table__td
        |Украинская гривна
      td.rate-table__td.visible-pc-block
        |UAH
      td.rate-table__td
        |21.8403 ₽
      td.rate-table__td.color-green
        |+0.265

    tr.rate-table__tr
      td.rate-table__td
        |Шведская крона
      td.rate-table__td.visible-pc-block
        |SEK
      td.rate-table__td
        |66.7008 ₽
      td.rate-table__td.color-red
        |-0.2541

//END .rate-table


