.rating-company
  .rating-company__item
    .rating-company__value 3.58
    .rating-company__prop
      |средняя
      br
      |оценка

  .rating-company__item
    .rating-company__value 145
    .rating-company__prop
      |количество
      br
      |отзывов

  .rating-company__item
    .rating-company__value
      |1&nbsp;
      span место
    .rating-company__prop
      |народный
      br
      |рейтинг

  .rating-company__item
    .rating-company__value
      |A+
      span.icon-question.js-tooltip
        svg(role="img"): use(xlink:href="#question")
      .tooltips.js-tooltip-block
        |Кредитные рейтинги рассчитываются на основе
        |прошлой и текущей финансовой истории
        |вышеперечисленных участников рынка, а также
        |на основе оценок размера их собственности и взятых
        |на себя финансовых обязательств (долгов). Основное
        |предназначение подобных оценок — дать
        |потенциальным кредиторам / вкладчикам
        |представление о вероятности своевременной
        |выплатывзятых финансовых обязательств.вание

    .rating-company__prop
      |кредитный
      br
      |рейтинг

  .rating-company__item
    .rating-company__value
      |6&nbsp;
      span место
    .rating-company__prop
      |по количеству
      br
      |оценок
//END.rating-company