.star-rating-view(data-rating="3")
  span.icon-star-stroke
    svg(role="img"): use(xlink:href="#star-stroke")
  span.icon-star-stroke
    svg(role="img"): use(xlink:href="#star-stroke")
  span.icon-star-stroke
    svg(role="img"): use(xlink:href="#star-stroke")
  span.icon-star-stroke
    svg(role="img"): use(xlink:href="#star-stroke")
  span.icon-star-stroke
    svg(role="img"): use(xlink:href="#star-stroke")

  .star-rating-view__fill
    span.icon-star
      svg(role="img"): use(xlink:href="#star")
    span.icon-star
      svg(role="img"): use(xlink:href="#star")
    span.icon-star
      svg(role="img"): use(xlink:href="#star")
    span.icon-star
      svg(role="img"): use(xlink:href="#star")
    span.icon-star
      svg(role="img"): use(xlink:href="#star")
  //END.star-rating-view__fill
//END.star-rating-view