<!DOCTYPE html>
html
  block head
    include ../_includes/head
  //- body.page
      include ../_includes/svg

      block header
        include ../_includes/header

  block content

  //block footer

    // POPUPS
    //include ../_includes/_popups/popup-callback
    //include ../_includes/_popups/popup-consult
    //include ../_includes/_popups/popup-request
    //include ../_includes/_popups/popup-contacts

  //block scripts
    //include ../_includes/scripts
