extends _layouts/default

block content
  body

    main.calendar
      .calendar-section.calendar-section--nav

        include _includes/_calendar-nav
        include _includes/_calendar-week

      //END.calendar-section.calendar-section--nav

      .calendar-section.calendar-section--day-timing

        .calendar__day-timing

          .day-timing

            .day-timing__item
              .day-timing__lable
                span День

              .day-timing__events-list
                .day-timing__event


            .day-timing__item
              .day-timing__lable
                span 00:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 01:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 02:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 04:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 05:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 06:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 07:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 08:00

              .day-timing__events-list
                .day-timing__event
                  .day-timing__time 08:10
                  .day-timing__descr Забрать машину из ремонта
                .day-timing__event
                  .day-timing__time 08:30
                  .day-timing__descr Заправиться
                .day-timing__event
                  .day-timing__time 08:50
                  .day-timing__descr Заехать за хлебом

            .day-timing__item
              .day-timing__lable
                span 09:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 10:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 11:00

              .day-timing__events-list
                .day-timing__event Отвезти дочь на гимнастику

            .day-timing__item
              .day-timing__lable
                span 12:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 13:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 14:00

              .day-timing__events-list
                .day-timing__event Навестить друга в больнице

            .day-timing__item
              .day-timing__lable
                span 15:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 16:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 17:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 18:00

              .day-timing__events-list
                .day-timing__event Встретить тещу на вокзале

            .day-timing__item
              .day-timing__lable
                span 19:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 20:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 21:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 22:00

              .day-timing__events-list
                .day-timing__event

            .day-timing__item
              .day-timing__lable
                span 23:00

              .day-timing__events-list
                .day-timing__event

          //END .day-timing


        //END.calendar__timing

    include _includes/_calendar-nav-footer